* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, sans-serif;
  text-transform: capitalize;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
}

div.input-container {
  display: flex;
  justify-content: center;
  margin: 10px 0 40px 0;
  gap: 15px;
}

h1 {
  text-transform: uppercase;
  width: 300px;
  margin: auto;
}

input.input-task {
  width: 40%;
  padding-left: 5px;
}

button.btn {
  background-color: #b4faea;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

button.btn:hover {
  background-color: #2a6456;
  transform: translateY(-1px);
  transition:
    background-color,
    transform ease-in 150ms;
}

ul.items {
  width: 50%;
  margin: auto;
}

ul.items li {
  
}

button.delete {
  width: 50px;
  height: 20px;
  float: right;
  background-color: #f39e9e;
  border: none;
  border-radius: 5px;
}

button.delete:hover {
  background-color: #8d2525;
  transform: translateY(-1px);
  transition:
    background-color,
    transform ease-in 150ms;
}

input.checkbox {
  margin-right: 50px;
}

input.checkbox:checked + span {
  text-decoration: line-through;
  color: gray;
}
